<h1>Show Timesheet</h1>

<ul>
  <li>
    <%= @timesheet.worker %>
  </li>

  <table>
  <%= for task <- Time1.Tasks.list_tasks() do %>
    <tr>
      <td>task.note</td>
    </tr>
  <%end%>
  </table>

</ul>

<span><%= link "Edit", to: Routes.timesheet_path(@conn, :edit, @timesheet) %></span>
<span><%= link "Back", to: Routes.timesheet_path(@conn, :index) %></span>
